@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&family=Quicksand&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+IT+Moderna:wght@100..400&family=Quicksand:wght@500&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');




html {
    scroll-behavior: smooth; /* Faz a rolagem ser suave */
}
        /* Estilos gerais */
body {
    font-family: sans-serif; /* Fonte para o corpo do texto */
    margin: 0; /* Remove margens padrão do body */
    background-color: #f8f2eb; /* Cor de fundo da página */
    color: #333; /* Cor do texto principal */
}

.title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


header img {
    max-width: 100px;
    border-radius: 50px;
}

/* Estilos para o cabeçalho */
header {
    background-color: #312b23; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto do cabeçalho */
    padding: 20px;
    text-align: center; 
    padding-top: 80px;/* Alinha o texto ao centro */
}

header h1 {
    margin-bottom: 10px; /* Espaçamento abaixo do título */
}

header p {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

/* Estilos para o menu de navegação */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Ajuste a cor conforme necessário */
    padding: 10px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;        overflow-x: auto; /* Adiciona rolagem horizontal */
    white-space: nowrap;
    background-color: #ffffff; /* Cor de fundo do menu */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(228, 226, 226, 0); /* Sombra no menu */
}

/* Estiliza a barra de progresso */
#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background: rgb(150, 93, 146);
    z-index: 1100;
    transition: width 0.2s ease-out;
}

nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
    transition: color 0.3s;
}

nav ul li a.active {
    color: rgb(149, 120, 120); /* Muda a cor do item ativo */
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    padding: 8px 16px; /* Espaçamento interno nos links */
    border-radius: 5px; /* Bordas arredondadas nos links */
    transition: background-color 0.3s ease; /* Transição suave na cor de fundo */
}

nav a:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}

/* Estilos para o conteúdo principal */
main {
    padding: 20px;
    max-width: 960px; /* Largura máxima do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
}

*::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 19px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 19px;
    background-color: #6e5d56;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #452f0f;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #6b4e23;
  }


.slide {
    position: relative;
    height: 100%;
  }

.slide {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }



section {
    margin-bottom: 30px; /* Espaçamento entre as seções */
}

h2 {
    text-align: center;
    background-color: #a48a7da1;
    border-radius: 10px;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 4px solid #262222b0; /* Linha abaixo do título da seção */
    padding: 10px;
}



.geladinho-tipo{
    text-align: center;
    background-color: #a48a7d46;
    border-radius: 10px;
    color: #333333;
    margin-bottom: 15px;
    border-bottom: 4px solid #26222285; /* Linha abaixo do título da seção */
    padding: 3px;
}
        

.produto {
    background-color: #ffffff;
    box-shadow: 6px 6px 0px 0px rgb(209, 200, 185);
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #704e2551; /* Borda nos pratos */
    border-radius: 5px;
}

.produto h3 {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 0; /* Remove a margem superior padrão */
    color: #555;
}

.disponibilidad {
    max-width: 150px ;
    padding: 1px 1px;
    text-align: center;
    border-right: solid 2px ;
    border-bottom: solid 2px ;
    color: #840c0c !important;
    background-color: #f7b6ad;
    border-radius: 20px;
}


.produto p {
    font-size: 12px;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #777;
}

.info-button {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #f7f7f7 !important;
    font-size: 12px;
    box-shadow: 4px 4px 0px #4b351e;
    padding: 7px 10px;
    border-radius: 29px;
    border: 0px dashed #3866A3;
    background: #a1846d;
  }
  .info-button:hover {
    color: #ffffff !important;
    background: #a37ea9;
  }

  .popup-img {
    display: block;
    margin: auto;
    max-width: 300px;
    border-radius: 20px;
}

.popup-title {
    font-family: "Barlow Condensed", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: #bdaba5fe;
    border-radius: 10px;
    color: #2a1c11;
    margin-bottom: 15px;
    border-bottom: 4px solid #262322b0; /* Linha abaixo do título da seção */
    padding: 5px;
}

.popup h3 {
    font-family: "Playwrite IT Moderna", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    background-color: #f1e2ddcd;
    border-radius: 10px;
    color: #2a1c11;
    margin-bottom: 15px;
    border-bottom: 4px solid #262322b0; /* Linha abaixo do título da seção */
    padding: 7px;
}

.popup p {
    color: #ab7b58;
}

.popup ul {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    color: #817463;
}

.valor {
    width: 75px;
    padding: 2px;
    text-align: center;
    border-right: solid 2px ;
    border-bottom: solid 2px ;
    color: #664d4d !important;
    background-color: #ead8cb;
    border-radius: 20px;
}
  

/* Estilos para o rodapé */
footer {
    background-color: #312b23;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer a {
    font-size: 12px;
    color: #d4cbc3;
}


footer img {margin-bottom: 10px;
    max-width: 40px;
}


.parent-img-footer {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    height: 100%; /* Garante que o elemento ocupe toda a altura disponível */
    width: 100%; /* Opcional, se precisar ocupar toda a largura */
}

        

.info-button {
    border: none;
    border-bottom: 1px solid #3333336e;
    border-radius: 10px;

}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.671);
    z-index: 1;
}

.popup-content {
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 20px;
    border: 3px solid #aca089;
    border-radius: 20px;
    width: 80%;
    position: relative;
}

.close-button {
    color: #331603;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}


.parent-produto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
}
    
.div1-produto {
    grid-column: span 2 / span 2;
}

.div2-produto {
    grid-column-start: 3;
    border-left: solid 2px #d5a789;
    padding-left: 10px;
}

.produto img {
    border-radius: 10px;
    max-width: 150px;
    height: auto;
}
        
